{% extends "common/base.html" %} {% load i18n %} {% block content %}
<div class="intro-header login-form">
  <div class="container">
    <div class="row vh100">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="intro-message animated zoomIn">
          <h3>Padakosham</h3>
          <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
              <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success white" value="{% trans 'Log In' %}" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <div class="form-group">
              <p>{% trans "Forgot password" %}? <a class="login_page-links" href="{% url 'auth_password_reset' %}">{% trans "Reset" %}</a></p>
              <p>{% trans "Not member" %}? <a class="login_page-links" href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}