{% load crispy_forms_tags %}

{% include "common/inner_pages.html" %}
<div class="wrapper">
  <div class="row">
    <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">
          <div class="row-fluid">
            <div class="col-lg-12 top-pad100">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class= "white">പദകോശം</h2>
                </div>
                <div class="panel-body">
                  <form class="well" method='post'>
                    <h3>ഒരു പുതിയ വാക്ക് ചേർക്കാം</h3>
                    <hr>
                    {% csrf_token %}
                    <div class="tc-word-form">
                      {{ form.text|as_crispy_field }}
                      {{ form_meaning.text|as_crispy_field }}
                    </div>
                    <hr>
                    <div class="tc-meaning-form-wrap">
                      <div class="tc-meaning-form">
                        {{ form_meaning.category|as_crispy_field }}
                        {{ form_meaning.gender|as_crispy_field }}
                        {{ form_meaning.examples|as_crispy_field }}
                        {{ form_meaning.synonyms|as_crispy_field }}
                        {{ form_meaning.opposites|as_crispy_field }}
                        <hr>
                        {{ form.etymology|as_crispy_field }}
                        {{ form.homonyms|as_crispy_field }}
                        {{ form.origin_language|as_crispy_field }}
                        {{ form.place|as_crispy_field }}
                        {{ form.plural|as_crispy_field }}
                        {{ form.singular|as_crispy_field }}
                        {{ form.root|as_crispy_field }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                        <input class="btn btn-default btn-block" type="submit" name="add_another" value='മറ്റൊരു വാക്കു കൂടി ചേർക്കുക'>
                      </div>
                      <div class="col-md-4">
                        <input class="btn btn-success btn-block" type="submit" name="finish" value='വാക്കുകൾ എല്ലാം ചേർത്ത് കഴിഞ്ഞ് ഇവിടെ ക്ലിക്ക് ചെയ്യുക'>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="hidden column col-lg-3 col-md-3 col-sm-3 col-xs-12" id="sidebar">
      {% include "common/sidebar.html" %}
    </div>
  </div>
</div>

<script type="text/javascript">

$(function(){
  loadData('district', '/data/retrieve?', 'District');
});

function loadData(id, url , option) {
    $("#"+id).html($('<option>', { 
        value   : option,
        text    : option,
        disabled: true,
        selected: true
    }));
    $.ajax({
      type: "GET",
      crossDomain: true,
      url: url,
      dataType: "json",
      success: function(resultData){
          $.each(resultData[Object.keys(resultData)[0]], function (i, item) {
              $("#"+id).append($('<option>', { 
                  value: item,
                  text : item 
              }));
          });
      },
      error: function(e) {
        alert('Check the Console to see Error Messages');
        console.log(e);
      },
    });
};

</script>